.class1 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
header {
    
}
nav {
    padding: 20px;
}
.nav-section {
    border: 2px solid gray;
}