<style>
    h1 {
        color: #333;
        margin-bottom: 20px;
    }
</style>
<div class="container">
    <h1>About Me</h1>
    <img src="https://th.bing.com/th/id/OIP.0rEokIyIDoehvswPxbf4oAHaHn?rs=1&pid=ImgDetMain" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
    <p>Hello, I'm Artjom. I'm a programmer based in Tallinn. I have a passion for programming, front-end, back-end, PHP, PDO. In my free time, I enjoy coding. Feel free to reach out to me on <a href="https://github.com/yourusername">GitHub</a> and <a href="https://linkedin.com/in/yourusername">LinkedIn</a>.</p>
</div>
