<footer class="default-style">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Location</h4>
                <p>Tallin, Lasnamae</p>
            </div>
            <div class="col">
                <h4>Contacts</h4>
                <a href="contacts.html">Click here</a>
            </div>
            <div class="col">
                <h4>Languages</h4>
                <p>Estonian, English, Russian</p>
            </div>
        </div>
    </div>
</footer>