<footer class="default-style flex-centered">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Location</h4>
                <p>Tallinn, Lasnamäe</p>
            </div>
            <div class="col text-center">
                <h4>Contacts</h4>
                <a href="contacts.html">Click here</a>
            </div>
            <div class="col text-center">
                <h4>Languages</h4>
                <p>Estonian, English, Russian</p>
            </div>
        </div>
    </div>
</footer>