<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/Blog/index.php" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Artjom's blog</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/Blog/index.php" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/Blog/posts.php" class="nav-link">Posts</a></li>
        <li class="nav-item"><a href="/Blog/contacts.php" class="nav-link">Contacts</a></li>
        <li class="nav-item"><a href="/Blog/about.php" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/Blog/about-me.php" class="nav-link">About me</a></li>
      </ul>
    </header>
</div>